---
export const prerender = true

const title = "Yarelis Janeth";
const msg = "Bienvenidas a nuestro mundo de creatividad y estilo, donde cada trenza cuenta una historia única. En nuestro emprendimiento, transformamos tu cabello en una obra de arte, fusionando tradición y tendencias para que te sientas empoderada. ¡Descubre el peinado perfecto que resalta tu belleza y personalidad!"
---

<footer id="footerInfo" class="w-full mt-10">
    <section class="h-fit w-fit overflow-hidden rounded-2xl  mx-auto my-5 px-4 py-2 flex flex-row flex-wrap justify-center items-center">
        <h2 class="text-3xl font-bold">
            {title}<span class="material-symbols-outlined animate-bounce my-3 text-red-500 font-bold mx-2">favorite</span>
        </h2> 
        <p class="m-auto shadow-lg py-2 w-64 px-3 text-red-700">{msg}</p>
    </section>
</footer>