---
import type { GetStaticPaths } from "astro";
import CardBraids from "src/components/braids-list/CardBraids.astro";
import FooterInfo from "src/components/footer-info/FooterInfo.astro";
import NavBar from "src/components/nav-components/NavBar.astro";
import Pagination from "src/components/pagination/Pagination.astro";
import type { BraidsType } from "src/interface/braidsPrices.interface";
import Layout from "src/layouts/Layout.astro";

export const prerender = true

export const getStaticPaths = (async ({ paginate }) => {
 try{
  const dataResponse = (await import('../../data/braids.data.json')).default
   
  return paginate(dataResponse as BraidsType[], { pageSize: 3 });

} catch (error) {
        console.error("⚠️ Error en getStaticPaths:", error);
        return []; 
    }
}) satisfies GetStaticPaths;

const { data, ...other } = Astro.props.page;
---
<Layout>
  <NavBar />
  <Pagination other={other}/>
  <section class="flex flex-row flex-wrap justify-center items-center space-y-10 space-x-10">
    {
      data.map(info => (<CardBraids data={info}/>))
    }
  </section>
  <FooterInfo />
</Layout>
