---
import TypeIcon from "@components/nav-components/comp/TypeIcon.astro";
import icons from "@data/icons.data.json";

const iconNames = icons.filter(i=> !i.name.includes('info'))
---

<header class="w-56 m-auto text-center overflow-hidden">
    <label class="font-semibold">Contactanos: </label>
    <nav class="w-full m-auto text-center flex flex-wrap flex-row justify-center items-center">
        <section class="w-full m-3 flex flex-nowrap flex-row justify-center items-center">
            <TypeIcon iconNames={iconNames} />
        </section>
        <section class="flex-1"></section>
        <section class="w-full text-center">
            <button class="p-2 cursor-pointer animation-pulse font-bold text-gray-300 shadow-2xs shadow-gray-700 hover:bg-blue-600 hover:text-gray-200 rounded-2xl bg-blue-500" onclick="history.back()">Regresar</button>
        </section>
    </nav>
</header>

