---
import Layout from "src/layouts/Layout.astro";

export const prerender = true
const baseUrl = import.meta.env.PUBLIC_BASE_URL
---

<Layout>
    <a href={`${baseUrl}/v1/1`}>
    <h1 class="mt-10 w-fit m-auto rounded-3xl font-extrabold p-3 bg-gray-500 text-amber-50">
            Redirigir a yare braids
    </h1>
    </a>
</Layout>
