---
import Layout from "src/layouts/Layout.astro";
---

<Layout>
    <a href={'http://localhost:4321/v1/1'}>
    <h1 class="mt-10 w-fit m-auto rounded-3xl font-extrabold p-3 bg-gray-500 text-amber-50">
            Redirigir a yare braids
    </h1>
    </a>
</Layout>
