---
import type { GetStaticPaths } from "astro";
import CardBraids from "src/components/braids-list/CardBraids.astro";
import FooterInfo from "src/components/footer-info/FooterInfo.astro";
import NavBar from "src/components/nav-components/NavBar.astro";
import Pagination from "src/components/pagination/Pagination.astro";
import type { BraidsType } from "src/interface/braidsPrices.interface";
import Layout from "src/layouts/Layout.astro";

//export const prerender = true

export const getStaticPaths = (async ({ paginate }) => {
  try{
  // const base = import.meta.env.PUBLIC_BASE_URL;
  // const response = await fetch(`${base}/api/getAll.json`);
// 
  // if (!response.ok) {
    // throw new Error("Error al obtener los datos");
  // }
  // const dataResponse = (await response.json()) as BraidsType[];
 const dataResponse = [{"id":1,"name":"Box Braids Small","description":"Este estilo elegante y versátil, Ideal para quienes buscan un peinado práctico, con la opción de personalizarlo con colores y accesorios"},{"id":2,"name":"Box Braids Medium","description":"Perfecto para quienes buscan un peinado práctico y estilizado con menos tiempo de instalación que las trenzas finas"},{"id":3,"name":"Box Braids Jumbo","description":"Trenzas gruesas y voluminosas, ideales para un look audaz y llamativo"},{"id":4,"name":"Boho Braids Small","description":"Trenzas finas con un toque bohemio, ideales para un look relajado y desenfadado con acabado natural y estilizado"},{"id":5,"name":"Boho Braids Medium","description":"Trenzas medianas que irradian un aire bohemio y fresco, perfectas para un look relajado y único"},{"id":6,"name":"Boho Braids Jumbo","description":"Un look bohemio excelente con trenzas gruesas que capturan todas las miradas con su estilo audaz y natural"},{"id":7,"name":"Box Braids 2","description":"Trenzas bien definidas y de grosor medio, ofreciendo un estilo limpio, elegante y fácil de mantener. Ideal para un look duradero con un toque moderno"},{"id":8,"name":"Box Braids 4","description":"Trenzas gruesas y llamativas, perfectas para un look audaz y lleno de volumen, Es rápido de hacer y destaca por su durabilidad y versatilidad"},{"id":9,"name":"Box Braids 6","description":"Trenzas ultra gruesas que ofrecen un estilo impactante y lleno de personalidad"},{"id":10,"name":"Box Braids 8 o 10","description":"Trenzas voluminosas que aportan un estilo potente y lleno de personalidad, ideales para un look fuerte, duradero y de gran impacto visual"},{"id":11,"name":"Front Braids","description":"Trenzas delanteras que enmarcan el rostro con un estilo fresco y elegante, perfectas para un look práctico y chic. Ideal para quienes buscan un toque único y moderno en su peinado"}]

  return paginate(dataResponse, { pageSize: 3 });

} catch (error) {
        console.error("⚠️ Error en getStaticPaths:", error);
        return []; 
    }
}) satisfies GetStaticPaths;

const { data, url } = Astro.props.page;
---
<Layout>
  <NavBar />
  <Pagination {...url}/>
  <section class="flex flex-row flex-wrap justify-center items-center space-y-10 space-x-10">
    {
      data.map(info => (<CardBraids data={info}/>))
    }
  </section>
  <FooterInfo />
</Layout>
