---
import HeaderTitle from "../index/HeaderTitle.astro";
import HeaderLi from "./comp/HeaderLi.astro";

export const prerender = true
---

<header class="w-full w-max-full text-center">
  <nav class="rounded-4xl m-5 flex justify-center px-20 py-10 items-center shadow-2xl">
    <ul class="flex flex-row flex-wrap justify-center items-center ">
    <HeaderTitle/>
    <HeaderLi />
  </ul>
</nav>
</header>