---
---

<div class="relative inline outline-none ">
    <input
          class:list={["cursor-pointer ml-2 p-1.5 outline-none bg-white font-bold rounded-xl shadow-2xl",
             {  }
           ]}
          type="text"
          name="search"
          id="search-braids"
          placeholder="Buscar..."
        />
<!-- <ul class="absolute">
    {
        resultSearch.map(result=> (
        <li class="w-96 hover:opacity-5 p-2 border-b-1 border-b-gray-600">{result}</li>
        ))
    }
</ul> -->
</div>

<script>
    const input = document.getElementById('search-braids') as HTMLInputElement;
    input.addEventListener('input', search);

    function search(e){
      console.log(e.target.value)
    }
</script>