---
import { Icon } from "astro-icon/components";
import icons from "../../../data/icons.data.json"

export const prerender = true

const { iconNames = icons } = Astro.props

---
  {
    iconNames.map(data=>(
    <a class="transition-normal duration-1000 ease-in-out" href={data.href} target="_parent" title={data.name}>
      <Icon name={data.name} size={data.size} 
      class:list={[
        "cursor-pointer hover:text-blue-500 animate-pulse",
        {"ml-2": data.name.includes("whatsapp")}
      ]}
      />
    </a>
    ))
  }  