---
import { Icon } from "astro-icon/components";
import icons from "@data/icons.data.json"

const { iconNames = icons } = Astro.props

---
  {
    iconNames.map(({name,size, href})=>(
    <a class="transition-normal duration-1000 ease-in-out" href={href} target="_parent" title={name}>
      <Icon name={`network/${name}`} size={size} 
      class:list={[
        "cursor-pointer hover:text-blue-500 animate-pulse",
        {"ml-2": name.includes("whatsapp")}
      ]}
      />
    </a>
    ))
  }  