---
import MainTitle from "./comp/MainTitle.astro";
import { Image } from "astro:assets";
import logo from "../../assets/images/logo.jpg";

---
<div class="text-center rounded-4xl m-5 mb-10 flex flex-col justify-center px-10 py-5 items-center shadow-2xl">
  <Image
      src={logo}
      width={120}
      format={"jpg"}
      alt={"logo"}
      quality={"max"}
      class={"rounded-xl shadow-2xs "}
    />
</div>
