---
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";
import BaseHead from "src/components/head/BaseHead.astro";
import type { braidsType } from "src/interface/braids.interface";
import { Consts } from 'src/consts';


interface Props{
    id?: string,
    data?: braidsType
	image?: string
}

const {id,image= Consts.image, data} = Astro.props
const name  = data?.name ??Consts.name;
const description = Consts.description;

const url_image = image?? `/braids/${id}`;
---
<!doctype html>
<html lang="en">
	<head>
	<BaseHead title={name} name={name} description={description!} image={url_image} />
	 <ViewTransitions/>
	</head>
	<body class="bg-gray-200">
		<main class="m-10">
		    <slot />
		</main>
	</body>
</html>
