---
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";
import BaseHead from "src/components/head/BaseHead.astro";
import { Consts } from 'src/consts';
import type { BraidsType } from "src/interface/braidsPrices.interface";

export const prerender = true

interface Props{
    id?: string | number,
	image?: string,
    data?: BraidsType
}

const {id, image= Consts.image, data} = Astro.props
const name  = data?.name ??Consts.name;
const description = Consts.description;

const url_image = image?? `/braids/braid-${id}.jpg`;
---
<!doctype html>
<html lang="en">
	<head>
	<BaseHead title={name} name={name} description={description!} image={url_image} />
	<ViewTransitions/>	
	</head>
	<body class="bg-gray-200">
		<main class="m-10 text-center">
		    <slot />
		</main>
	</body>
</html>
