---
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";
import BaseHead from "src/components/head/BaseHead.astro";
import { Consts } from 'src/consts';
import type { BraidsType } from "src/interface/braidsPrices.interface";

export const prerender = false

interface Props{
    id?: string,
    data?: BraidsType
	image?: string
}

const {id,image= Consts.image, data} = Astro.props
const name  = data?.name ??Consts.name;
const description = Consts.description;

const url_image = image?? `/braids/${id}`;
---
<!doctype html>
<html lang="en">
	<head>
	<BaseHead title={name} name={name} description={description!} image={url_image} />
	<ViewTransitions/>	
	<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
	</head>
	<body class="bg-gray-200">
		<main class="m-10 text-center">
		    <slot />
		</main>
	</body>
</html>
