---
// import { Image } from 'astro:assets';

const {imageUrl, name} = Astro.props
---

<div class="w-full h-full rounded-sm shadow-2xs overflow-hidden ">  
    <img
      src={imageUrl}
      width={180}
      height={180}
      alt={name}
      class={"w-full h-full object-cover"}
    />
</div>