---
import type { PricesType } from '@interfaces/braidsPrices.interface'

export const prerender = true

interface Props{
    id: number,
    prices: PricesType[]
}

const {id, prices} = Astro.props
---

<div id={`info-add-${id}`} class="hidden w-full transition-transform text-left bg-[#cbcbde] duration-1000 ease-in-out" >
    <ul class="ml-3 my-1">
      {
        prices.map(({total, includeMaterial,infoExtra}) =>
        !(!!infoExtra)?(
          <li class="font-extrabold text-gray-600 my-1">
            <span class="font-bold">${total}  - </span> {includeMaterial?'Si':'No'} incluye material
          </li>
        ):(
        infoExtra.split('.').map(
         (str)=>( 
        <li class="font-extrabold font-serif text-gray-600 my-1">
            {str}.
         </li>
        ))))
      }
    </ul>
</div>